
@{
    ViewBag.Title = "EnrollInCourse";
}

<h2>EnrollInCourse</h2>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

    </script>
}