

<style>
    .btn:hover {
        background-color: #027dc5;
        right: 0px;
    }
</style>
<div class="btn-group-vertical" style="width:100%; padding:300px; background-color:#d9dad9";>
    <h2>Index</h2>
    <button class="btn" style="color:white">@Html.ActionLink("Student", "Index", "Student")</button>
    <br>
    <button class="btn" style="color:white">@Html.ActionLink("My Courses", "MyCourses", "Student")</button>
    <br>
    <button class="btn" style="color:white">@Html.ActionLink("View Courses", "ViewCourses", "Student")</button>
    <br>
    <button class="btn" style="color:white">@Html.ActionLink("View Homework", "GetHomeworks", "Student")</button>
    <br>
</div>